[Desktop Entry]
Name=FrayTools
Exec=fraytools.sh %U
Terminal=false
Type=Application
Icon=io.gitlab.shifterbit.FrayTools
StartupWMClass=fraytools
Comment=Unofficial FrayTools Flatpak
Categories=Development;












